body{
    background-color: black;
    color:#fff;
}
.universe{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
.flex{
    display: flex;
    gap: 15px;
}
h1{
    color: #ED0505;
    font-style: oblique;
}
input{
    border: 3px solid #808080;
    border-radius: 5px;
    background-color: transparent;
    color: #808080;
    font-style: italic;
}
button{
    border-radius: 50%;
    background: linear-gradient(to right,#ED0505,#ED0505) ;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}
button:hover{
    transform: scale(1.1);
    filter: brightness(0.7);
    cursor: pointer;
}